parameters:
    level: 8
    phpVersion: 80300
    paths:
        - wordpress/coagmentator/src
        - wordpress/mu-plugins
    scanDirectories:
        - .runtime/wordpress/src/wp-includes
        - .runtime/wordpress/src/wp-admin/includes
    tmpDir: .runtime/phpstan
